In [1]:
import pandas as pd

In [3]:
cities_df = pd.read_csv("..\COMPLETED HOMEWORK\latitudeWeatherPy\starter_code\cities_data.csv", names=["City", "Cloudiness", "Country", 
                                                    "Date", "Humidity", "Lat",      
                                                    "Lng", "Max Temp", "Wind Speed"])
# remove any rows with missing info
cities_df = cities_df.dropna(how="any")
cities_df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Barra do Garcas,0,BR,1561780063,60,-15.89,-52.26,291.922,0.88
1,Ponta do Sol,0,BR,1561780064,80,-20.63,-46.00,288.302,2.56
2,Mataura,100,NZ,1561780064,61,-46.19,168.86,286.480,4.47
3,Punta Arenas,40,CL,1561780221,87,-53.16,-70.91,274.150,2.10
4,Khatanga,100,RU,1561780099,84,71.98,102.47,286.702,8.31

In [4]:
cities_df.to_html('dataframe.html')